<table class='table' border='1'>
		<thread>
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>1st Favorite Number</th>
				<th>2nd Favorite Number</th>
				<th>3rd Favorite Number</th>
				<th>Favorite Food</th>
				<th>Favorite Phrase</th>
        <th>Favorite Color</th>
        <th>Favorite Season</th>
        <th>EDIT</th>
        <th>DELETE</th>
			</tr>
		</thread>
		 <tbody>
           <%personaldetails.each do |fav|%>
           <tr>
               <td><%=fav["name"] %></td>
               <td><%=fav["age"] %></td>
               <td><%=fav["first_favorite_number"] %></td>
               <td><%=fav["second_favorite_number"] %></td>
               <td><%=fav["third_favorite_number"] %></td>
               <td><%=fav["favorite_food"] %></td>
               <td><%=fav["favorite_phrase"] %></td>
               <td><%=fav["favorite_color"] %></td>
               <td><%=fav["favorite_season"] %></td>
               <td><center><input type="button"></center></td>
               <td><center><input type="button"></center></td>
           </tr>
           <%end%>
    </tbody>
</table><br>
Add someone to the favorite chart below.
<form method='post' action='personaldetails'>
  <input type='text' name='name' placeholder="First and Last Name"><br>
  <input type='text' name='age' placeholder="Age"><br>
  <input type='text' name='first_favorite_number' placeholder="1st Favorite Number"><br>
  <input type='text' name='second_favorite_number' placeholder="2nd Favorite Number"><br>
  <input type='text' name='third_favorite_number' placeholder="3rd Favorite Number"><br>
  <input type='text' name='favorite_food' placeholder="Favorite Food"><br>
  <input type='text' name='favorite_phrase' placeholder="Favorite Phrase"><br>
  <input type='text' name='favorite_color' placeholder="Favorite Color"><br>
  <input type='text' name='favorite_season' placeholder="Favorite Season"><br>
  <input type='submit' value='Add To Chart' class='submit'><p> 
</form>

<form action="update" method="post">
What would you like to update?
  <select name='fav'>
    <option value='1'>Name</option>
    <option value='2'>Age</option>
    <option value='3'>1st Favorite Number</option>
    <option value='4'>2nd Favorite Number</option>
    <option value='5'>3rd Favorite Number</option>
    <option value='6'>Favorite Food</option>
    <option value='7'>Favorite Phrase</option>
    <option value='8'>Favorite Color</option>
    <option value='9'>Favorite Season</option>
  </select><br>

  <input type='text' name='old_fav' placeholder="Name"><br>
  <input type='text' name='new_fav' placeholder="New Favorite"><br>
  <input type='submit' value='Update' class='submit'>
</form><p></p>

Delete a person below.
<form action='delete' method='post'>
  <input type='text' name='trash' placeholder="Name"><br>
  <input type='submit' value='Delete Person' class='submit'>
</form>













